<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-adjust-ui-native" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>AdjustUINative</name>
  
  <js-module name="AdjustUINative" src="www/AdjustUINative.js">
    <clobbers target="cordova.plugins.AdjustUINative" />
  </js-module>
  
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="AdjustUINative">
        <param name="android-package" value="cordova-plugin-adjust-ui-native.AdjustUINative" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/AdjustUINative.java" target-dir="src/cordova-plugin-adjust-ui-native/AdjustUINative" />
  </platform>
  
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="AdjustUINative">
        <param name="ios-package" value="AdjustUINative" />
      </feature>
    </config-file>
    <source-file src="src/ios/AdjustUINative.h" />
    <source-file src="src/ios/AdjustUINative.m" />
  </platform>

  <platform name="windows">
    <js-module src="src/windows/AdjustUINative.js" name="AdjustUINative">
      <runs target="" />
    </js-module>
  </platform>
</plugin>

